//- 
    const properties = [
      {
        type: "text" || "number" || "checkbox",
        name: String,
        text: String,
        step: "any" || Number,
        isDisabled: Boolean,
      },
    ]

mixin control(properties = [])
  each prop in properties
    - 
      const {
        type = "text",
        name = "",
        text = "",
        step = "any",
        isDisabled = false,
      } = prop;

      const typeList = {
        TEXT: "text",
        NUMBER: "number",
        CHECKBOX: "checkbox",
      };
      
    .control
      .control__field
        if type === typeList.CHECKBOX
          label.control__label
            input.control__checkbox.control__checkbox_hidden(type="checkbox" name=name value=name disabled=isDisabled)
            span.control__checkbox-title= text
        else
          - const inputAttr = (type === typeList.NUMBER) ? { type, step } : { type };
          label.control__label= text
            input(class="control__input")&attributes(inputAttr, { name, disabled: isDisabled })